# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

# Unignore husky
!.husky/*

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules

# micsdiff
.DS_Store
*dsYM

# python
__pycache__

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.class
*.ll

# Precompiled Headers

*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
# *.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vim 
.*swp

# for private credentials
.env

# cmake 
build

debug/
target/

Cargo.lock

**/*.rs.bk

*.pdb

.idea/
